.check {
  &__rod {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

  }

  &__img {
    width: 29px;
    margin-right: 4px;
  }

  &__content {
    padding-left: 33px;
  }

  &__p {
    @media (max-width: 599px) {
      margin-bottom: 2 * $gutter;
    }
  }
}

.fillacheck {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.checklisti {
  margin: 8 * $gutter 0;
}
