.footer {
  width: 100%;
  max-height: 200px;
  margin-top: 2em;

  &__content {
    display: flex;
    justify-content: space-around;

    color: #fff;
    flex-direction: column;
    background-color: #333;
  }

  &__info {
    display: flex;
    margin: $gutter 0;
    align-content: center;
    justify-content: space-evenly;
  }

  &__text {
    text-align: center;
  }

  &__logo {
    width: $max-width;
    max-width: 98%;
    padding: $gutter;
    margin-top: $gutter;
    font-size: 0.9em;
    color: #aaa;
    text-align: center;
    align-self: center;
    border-top: 2px solid #aaa;
  }
}
