.form {
  display: flex;
  font-size: inherit;
  flex-direction: column;

  &--main {
    margin-bottom: $gutter;
    border: 0;
  }

  &--heading {
    margin: $gutter 0;
    font-size: 1.5em;
    font-weight: 300;
  }

  &--container {
    margin-bottom: $gutter;
  }

  &--date {
    justify-content: space-between;
    flex-direction: row;

    .form--selection {
      width: 30%;
    }
  }

  &--input {
    height: 2em;
    padding: 4px;
    border: solid 1px #aaa;
    border-radius: 4px;
  }

  &__list {
    list-style-type: none;
  }

  &__radio {
    margin: 1em 2em 1em 4px;
  }

  &__submit {
    margin-bottom: $gutter * 4;

    @media (max-width: 600px) {
      margin-bottom: auto;
    }
  }

  &__check {
    margin-right: $gutter / 2;
  }

}
