.heading {
  font-family: "Roboto Slab", serif;

  &--header--one {
    font-size: 1.5em;
    animation: fadein 2s;
  }

  &--header--two {
    margin-bottom: 1em;
    font-size: 3em;
  }

  &--header--menubar {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}
