.heading {
  font-family: "Roboto Slab", serif;

  &--header--one {
    font-size: 2em;
    animation: 1s fade ease-in;
    @keyframes fade {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @media (max-width: 470px) {
      font-size: 1.5em;
    }

  }

  &--header--two {
    margin-bottom: 1em;
    font-size: 4em;
    animation: 2s fade ease-in;
    @keyframes fade {
      from { opacity: 0; }
      50% { opacity: 0; }
      to { opacity: 1; }
    }

    @media (max-width: 470px) {
      font-size: 3em;
    }
  }

  &--header--menubar {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }

  &--header--default {
    padding: 0 10px;
    font-size: 3em;
    color: #fff;
  }

  &__bottom {
    margin-bottom: $gutter;
    font-size: 1.25em;
  }

  &__check {
    font-size: 1.25em;
    font-weight: 700;
  }

}
