.index-header {
  display: flex;
  width: 100%;
  min-height: 600px;
  padding: 2em;

  margin-right: 0;
  margin-bottom: 2em;
  margin-left: 0;

  flex-direction: column;

  background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
  background-size: cover;

  @media (max-width: 470px) {
    padding-right: 0;
    padding-left: 0;
  }

  .content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
}
