.sub__header {
  display: flex;
  width: 100%;
  min-height: 600px;
  margin-right: 0;
  margin-bottom: $gutter * 4;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;

  background: transparent url("bg-subpage.jpg") no-repeat fixed 50% 50%;
  background-size: cover;

}
