.kvot {

  margin-bottom: $gutter;


  &__p {

  }

  &__k {
    float: right;
    width: 50%;
    padding: 40px 20px;
    margin-left: 70px;
    font-size: 1.5em;
    font-style: italic;

    @media (max-width: 400px) {
      width: 100%;
    }
  }
}
