@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }
  @media (max-width: 600px) {
    main {
      margin: 0 20px; } }

.kvot {
  margin-bottom: 20px; }
  .kvot__k {
    float: right;
    width: 50%;
    padding: 40px 20px;
    margin-left: 70px;
    font-size: 1.5em;
    font-style: italic; }
    @media (max-width: 400px) {
      .kvot__k {
        width: 100%; } }
  .kvot__footer {
    margin-top: 20px;
    font-size: 14px;
    font-style: normal; }

.kvedja {
  display: flex;
  margin-top: 100px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center; }

.check__rod {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.check__img {
  width: 29px;
  margin-right: 4px; }

.check__content {
  padding-left: 33px; }

@media (max-width: 599px) {
  .check__p {
    margin-bottom: 40px; } }

.fillacheck {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around; }

.checklisti {
  margin: 160px 0; }

.footer {
  width: 100%;
  max-height: 200px;
  margin-top: 2em; }
  .footer__content {
    display: flex;
    justify-content: space-around;
    color: #fff;
    flex-direction: column;
    background-color: #333; }
  .footer__info {
    display: flex;
    margin: 20px 0;
    align-content: center;
    justify-content: space-evenly; }
  .footer__text {
    text-align: center; }
  .footer__logo {
    width: 1200px;
    max-width: 98%;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #aaa;
    text-align: center;
    align-self: center;
    border-top: 2px solid #aaa; }

.index-header {
  display: flex;
  width: 100%;
  min-height: 600px;
  padding: 2em;
  margin-right: 0;
  margin-bottom: 2em;
  margin-left: 0;
  flex-direction: column;
  background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
  background-size: cover; }
  @media (max-width: 470px) {
    .index-header {
      padding-right: 0;
      padding-left: 0; } }
  .index-header .content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center; }

.button {
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2px;
  transition: background-color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button__header {
    width: auto;
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-size: 1.75em;
    animation: 3s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  67% {
    opacity: 0; }
  to {
    opacity: 1; } }
    @media (max-width: 470px) {
      .button__header {
        font-size: 1em; } }
  .button__bottom {
    width: auto;
    padding: 0.25em 2em;
    font-size: 1.5em; }
    @media (max-width: 435px) {
      .button__bottom {
        padding: 0.5em 3.5em;
        font-size: 1em; } }

.heading {
  font-family: "Roboto Slab", serif; }
  .heading--header--one {
    font-size: 2em;
    animation: 1s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    @media (max-width: 470px) {
      .heading--header--one {
        font-size: 1.5em; } }
  .heading--header--two {
    margin-bottom: 1em;
    font-size: 4em;
    animation: 2s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }
    @media (max-width: 470px) {
      .heading--header--two {
        font-size: 3em; } }
  .heading--header--menubar {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    text-decoration: none; }
  .heading--header--default {
    padding: 0 10px;
    font-size: 3em;
    color: #fff; }
  .heading__bottom {
    margin-bottom: 1em;
    font-size: 1em; }
  .heading__check {
    font-size: 1.25em;
    font-weight: 700; }

.menubar {
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  padding: 5px 20px;
  color: #fff;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8); }
  .menubar__buttons {
    display: flex;
    width: auto;
    flex-direction: row; }
  .menubar .button {
    width: auto;
    padding: 5px 8px; }
  .menubar .button__about {
    padding-right: 20px;
    background-color: transparent;
    border: 0; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-6 {
      width: 50%; }
    .col-sm-4 {
      width: 33.33333%; } }
  @media (max-width: 480px) {
    .col-mm-12 {
      width: 100%; } }
  .col-center {
    margin: 0 auto; }

.card {
  display: flex;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
  justify-content: space-between; }
  .card__content {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center; }
  .card__quote {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold; }
  .card__name {
    font-size: 1.25rem;
    font-weight: bold; }
  .card__img {
    width: 80%;
    min-width: 100px;
    max-width: 100%;
    border-radius: 50%; }

.cardlist {
  margin-top: 200px; }
  .cardlist .cardlist__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: 20px;
    margin-left: -10px; }
  .cardlist .cardlist__col {
    display: flex;
    align-items: stretch;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    width: 100%; }
    @media (min-width: 399px) {
      .cardlist .cardlist__col {
        width: 50%; } }
    @media (min-width: 599px) {
      .cardlist .cardlist__col {
        width: 33.33333%; } }

.sub__header {
  display: flex;
  width: 100%;
  min-height: 600px;
  margin-right: 0;
  margin-bottom: 80px;
  margin-left: 0;
  flex-direction: column;
  justify-content: center;
  background: transparent url("bg-subpage.jpg") no-repeat fixed 50% 50%;
  background-size: cover; }

.form {
  display: flex;
  font-size: inherit;
  flex-direction: column; }
  .form--main {
    margin-bottom: 20px;
    border: 0; }
  .form--heading {
    margin: 20px 0;
    font-size: 1.5em;
    font-weight: 400; }
  .form--container {
    margin-bottom: 20px; }
  .form--date {
    justify-content: space-between;
    flex-direction: row; }
    .form--date .form--selection {
      width: 30%; }
  .form--input {
    height: 2em;
    padding: 4px;
    border: solid 1px #aaa;
    border-radius: 4px; }
  .form__list {
    list-style-type: none; }
  .form__radio {
    margin: 1em 2em 1em 4px; }
  .form__submit {
    margin-bottom: 80px; }
    @media (max-width: 600px) {
      .form__submit {
        margin-bottom: auto; } }
  .form__check {
    margin-right: 10px; }
