@import "scss/elements";

/* setjum box-sizing: border-box; á allt */
html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;

  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  overflow-x: hidden;

  @media (max-width: 600px) {
    margin: 0 $gutter;
  }
}

@import "scss/text";
@import "scss/kvedja";
@import "scss/check";
@import "scss/footer";
@import "scss/indexheader";
@import "scss/button";
@import "scss/heading";
@import "scss/menubar";
@import "scss/grid";
@import "scss/card";
@import "scss/cardlist";
@import "scss/sub_header";
@import "scss/form";
