@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 20px;
  overflow-x: hidden; }

footer {
  display: flex; }

.index-header {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;
  min-height: 600px;
  background: transparent url(bg.jpg) no-repeat fixed 50% 50%;
  background-size: cover; }
  .index-header .content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center; }

.button {
  width: 100%;
  max-width: 256px;
  padding: 10px 5px;
  margin: 0;
  overflow: hidden;
  font-size: 1rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 2px;
  transition: background-color 500ms ease; }
  .button:hover {
    color: #eee;
    background-color: #333; }
  .button__header {
    width: auto;
    font-size: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    animation: 3s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  67% {
    opacity: 0; }
  to {
    opacity: 1; } }

.heading--header--one {
  font-size: 1.5em;
  animation: 1s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.heading--header--two {
  font-size: 3em;
  margin-bottom: 1em;
  animation: 2s fade ease-in; }

@keyframes fade {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.text {
  display: flex;
  flex-direction: column;
  height: 100%; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 599px) {
    .col-sm-12 {
      width: 100%; }
    .col-sm-8 {
      width: 66.66667%; }
    .col-sm-4 {
      width: 33.33333%; } }

.card {
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  background-color: #eee;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: background-color 500ms ease; }
  .card:hover {
    background-color: #ddd; }
  @media (min-width: 600px) {
    .card--wide {
      display: flex; } }
  .card__heading {
    width: 100%;
    margin-bottom: 15px;
    font-family: Merriweather, georgia, serif;
    font-size: 1.5rem;
    word-break: break-word; }
  .card__content {
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 600px) {
      .card__content {
        align-items: flex-start; } }
  .card__text {
    margin-bottom: 30px; }
  .card__img {
    width: 100%;
    min-width: 200px;
    max-width: 100%; }
    @media (min-width: 600px) {
      .card__img {
        min-width: 400px;
        height: 100%;
        object-fit: cover; } }

.cardlist .button {
  align-self: center; }

.cardlist .cardlist__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.cardlist .cardlist__col {
  display: flex;
  align-items: stretch;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 100%; }
  @media (min-width: 599px) {
    .cardlist .cardlist__col {
      width: 50%; } }
